.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0 10px;
}
.left-side {
  display: flex;
  flex-direction: column;
}
.right-side,
.select-input {
  display: flex;
}
.left-side p  {
    margin-top: 10px;
    color: var(--mainGrey);
  }
  .right-side img{
      width: 50px;
      margin-right: 20px;
  }
  @media only screen and (min-width: 600px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        flex-direction: row;
      }
  }
  